@model cjstores.API.Data.Entities.TipoDocumento

<div class="form-group">
    <label asp-for="Nombre_TD" class="control-label"></label>
    <input asp-for="Nombre_TD" class="form-control" />
    <span asp-validation-for="Nombre_TD" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Abreviatura" class="control-label"></label>
    <input asp-for="Abreviatura" class="form-control" />
    <span asp-validation-for="Abreviatura" class="text-danger"></span>
</div>
